<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>444382608763-0pe55dleqnog1bo0ppqctbmnur9stqsr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.444382608763-0pe55dleqnog1bo0ppqctbmnur9stqsr</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>444382608763-scq4rj1g6rosd8nffop34ch738ba0nhr.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyB9UMEgPceeV5yoBSOL7i42wcNCnas-HHI</string>
	<key>GCM_SENDER_ID</key>
	<string>444382608763</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.name.crudufcfirebase</string>
	<key>PROJECT_ID</key>
	<string>fir-concepts-ufc</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-concepts-ufc.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:444382608763:ios:3b45014368c396f0ebd1de</string>
</dict>
</plist>